.card-headline1 {
  grid-area: headline1;
}

.card-headline2 {
  grid-area: headline2;
}

.card-list {
  grid-area: list;
}

.card-line-chart {
  grid-area: line-chart;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.card-line-chart-2 {
  grid-area: line-chart-2;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.card-line-chart .card-h3,
.card-line-chart-2 .card-h3 {
  margin-bottom: var(--length-lg1);
}

.card-map-1 {
  grid-area: map-1;
}

.card-map-2 {
  grid-area: map-2;
}
